* {
    background-color: rgb(42, 84, 70);

}

.conteiner {
    width: 1630px;
    height: 890px;
    margin: 10px;
    border: 10px solid salmon;


    display: flex;
    flex-flow: row;
    

}

.block1 {
    /*width: 150px;
    height: 150px;*/
    
    flex: 100px 1 3;
    background-color: bisque;
    border: 5px solid black;
    text-align: center;
    margin: 10px;
    order: 1;
}

.block2 {
    flex: 100px 3 1;
    background-color: bisque;
    border: 5px solid black;
    text-align: center;
    margin: 10px;
    order: 2;
}

.block3 {
   
    flex: 100px 1 3;
    background-color: bisque;
    border: 5px solid black;
    text-align: center;
    margin: 10px;
    order: 3;
    
}

.block4 {
    flex: 100px 3 1;
    background-color: bisque;
    border: 5px solid black;
    text-align: center;
    margin: 10px;
    order: 4;
}

.block5 {
    flex: 100px 1 3;
    background-color: bisque;
    border: 5px solid black;
    text-align: center;
    margin: 10px;
    order: 5;
}