* {
    background-color: rgb(42, 84, 70);

}

.conteiner {
    width: 1600px;
    height: 800px;
    margin: 10px;
    border: 10px solid salmon;


    display: flex;
    flex-flow: row;

}

.block1 {
    flex-grow: 1;
    flex-basis: 100px;
    background-color: bisque;
    border: 5px solid black;
    text-align: center;
    margin: 10px;
}


.block {
    flex-basis: 200px;
    background-color: bisque;
    border: 5px solid black;
    text-align: center;
    margin: 10px;
}